@font-face{
	font-family: "Bebas-Nue";
	src: url(../fonts/bebasneue.otf) format('truetype'); 
}

@font-face{
	font-family: "Politica";
	src: url(../fonts/politica.ttf) format('truetype'); 
}

body{
	font-family: "Bebas-Nue";
	font-size: 220%;
	visibility: hidden;
	overflow-x: hidden; 
}

a:focus{
	outline: 0px;	
}

ul{
	list-style: none;
}

.border-red{
	border-bottom:1px solid #D30726;
	border-left:1px solid #D30726;
	border-right:1px solid #D30726;
}

.border-radius{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.navbar-fixed-top{	
	background-color: #D30726;	
	color: white;
	padding: 10px;
}

.navbar-fixed-top li a{
	color: white;	
}

.navbar-fixed-top li a:focus {
	/* width:0px;
	height:0px; */
	outline:0px;
}

/* Compatibilidad con SAFARI */

.navbar-brand:focus{
	outline: 0px;
}

.navbar-brand img{
	overflow: visible;
}

.navbar-brand a:focus{
	outline: 0px;
}

.navbar-brand img:focus{
	outline: 0px;
}

.navbar ul li{
	transform: translate(0px,3px);
	-webkit-transform: translate(0px,3px);

}

.navbar ul li:active{
	border: none;
}



.navbar ul li a{
	border-bottom: 1px solid transparent;
	font-weight: normal;
	color: white;
}

.navbar ul li a:hover{
	background-color: #D30726;
	color: white;
	font-weight: normal;
}


.main-animation{
	background-repeat: no-repeat;
}

.animationHome{
	display: none;
}

.nelson{
	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  
  .title-sonadas {	
	padding-top: 20px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {

 	nav.navbar-fixed-top{
	padding-left: 0px;
	padding-right: 0px;
 	}

 	nav.navbar-fixed-top > div.container{
	width: 95%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 0px;
 	}
 }

@media (min-width: 768px) and (max-width: 873px) {

	nav.navbar-fixed-top{
	padding-left: 0px;
	padding-right: 0px;
 	}

 	nav.navbar-fixed-top > div.container{
	width: 98%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 10px;
	margin-right: 0px;
 	}
	
	nav.navbar-fixed-top > div.container div.navbar-right ul li a{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 5px;
		padding-right: 5px;
	}

 }	


 @media (min-width: 768px) and (max-width: 791px) {

	nav.navbar-fixed-top{
	padding-left: 0px;
	padding-right: 0px;
 	}

 	nav.navbar-fixed-top > div.container{
	width: 98%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
 	}
	
	nav.navbar-fixed-top > div.container div.navbar-right ul li a{
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 3px;
		padding-right: 3px;
	}

 }	

 .col-home a{
 	text-decoration: none;
 }

 .col-thumbnail{
 	margin: 0px;
 	padding: 0px;

 }

 .col-videos{
 	margin-bottom: 20px;
 }


.li-home{
	border: 1px solid #e74a45;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: -5px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color: #e74a45;
	color: white;
	text-decoration: none;
}


.thumbnail{	
	border: 1px solid #e74a45;
	padding: 0px;
}

a.thumbnail:hover, a.thumbnail:active, a.thumbnail:focus{
	border-color: #e74a45;
}

/* Background las mas sonadas */
.table-background{	
	background-color: #e74962;
	color: white;
}

.container-home{
	padding-left:  30px;
	padding-right: 30px;
	margin-right: auto;
  	margin-left: auto;
}

.invitacion-comunidad{
	background-color: #D30726;
	color: white;
}



.formulario{
	width: 80%;
	margin: auto;
	background-color: #1C3237;
	border-radius: 0px;
	webkit-border-radius: 0px;
	padding: 5px;
	border-top: solid #0E8B98 5px;
}

.form-inline{
	margin: auto;
}

#form-registro input{
	font-size: 20px;
}

.form-reserva input{
	width: 45%;
}

.invitacion-registro{
	color: white;
}

.close-form {
	  position: relative;
	  top: -15px;
	  right: -12px;
	  color: inherit;
}

.col-home > ul {
	list-style: none;
}

.col-home > ul > li {
	font-size: 70%;
}

form input{
	padding-top: 0px;
	padding-bottom: 0px;
}

.inputstyle {
	font-family: Arial; font-size: 8pt; background-color: #00FF00;
}


.col-la-quinta{
	padding-left: 0px;
	padding-right: 0px;
}

.la-quinta {
	font-size: 80%;	
	margin-left: 0px;
	margin-right: 0px;	    
    }



.la-quinta > tbody > tr > td {
	padding: 1px;
	text-align: center;
	border: 1px solid #e74962;
	height: 28px;
	overflow: hidden;

		
}


button.close-form{
	width: 12px;
	height: 19px;
	background-color: #e74a45;
	color: white;
	font-size: 20px;
	font-weight: normal;
	opacity: 1;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	transform: translate(-6px, 9px);
	-webkit-transform: translate(-6px, 9px);
}

button.close-form:hover,
button.close-form:focus{
	opacity: 1;
	color: white;
}

/* Estilos de la pagina de Eventos */


button.close-popover{
	transform: translate(-11px, 4px);
	-webkit-transform: translate(-11px, 4px);
}

.img-center{
	margin: auto;
}


.close-empleado{
	width: 20px;
	height: 20px;
	transform: translate(-1120px, 8px);
	-webkit-transform: translate(-20px, 8px);
}

.col-redes{
	padding: 20px;/*
	border: 1px solid black;*/
}

.main-contain{	
	display: inline-block;

}
.breadcrumb li a{
	/* color: inherit; */
	text-decoration: none;
}


/* Historico de Eventos */
.panel-body ul{
	list-style: none;	
}

a.accordion-toggle{
	text-decoration: none;
}

.panel-body ul li{
	line-height: 90%;
	text-align: left;
}

.panel-body ul li a{
	font-size: 80%;
	text-decoration: none;
}

.panel-heading{
	background-color: #e74a45;
}


.pagination li a{
	font-size: 80%;
}

table.table-eventos{
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}



table.table-eventos tr td{
	/*padding-top: 2px; */
	padding-bottom: 2px;
	line-height: 1;	
	border: none;
}

table.table-eventos tr .evento-fecha{
	border-right: 1px solid black;
}



table.table-eventos tr .table-padding{	
	/*padding-top: 12px;*/
	color:#e74a45;	
}



table.table-eventos tr td .ir-fotos{
	color: white;
	background-color:#428bca;
	text-decoration: none;
	padding-left: 5px; 
	padding-right: 5px;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	font-size: 80%; 
}

.ir-fotos-evento-proximo{

	color: white;
	background-color: #428bca;
	text-decoration: none;
	padding-left: 5px; 
	padding-right: 5px;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
}

.ir-fotos-evento-proximo:hover{
	color: white;
	text-decoration: none;
}

.reservas{
	font-size: 120%;
	padding-top: 3px;
	padding-bottom: 3px;
}

.reservas:hover{
	color:white;
	text-decoration: none;
	background-color: #428bca;
}
/*
#red-twitter:hover{
	background: #4D9DDB;
}

#red-google:hover{
	background: #D94935;
}

#red-instagram:hover{
	background: #496F9B;
}

#red-youtube:hover{
	background: #C9312B;
}*/

/* QUIENES SOMOS */




.nav-tabs-quienes-somos li a{
	border-radius:100%; 
	-webkit-border-radius:100%; 
	border: 1px solid black;	
}


.tab-pane p{
	text-align: justify;
}

.text-150{
	font-size: 150%;
}

.text-350{
	font-size: 350%;
}


/* General */

.breadcrumb{
	background: white;
}

.div-eventos-pasados{
	border-left: 2px solid black;
	padding: 1px;
	padding-left: 5px;	
}

@media (max-width: 992px) {  
  .div-eventos-pasados {		
	border: none;
  }
}




.panel-container{
	background: #1C3237;
	padding-top: 0px;
	padding-bottom: 0px;	

}


.panel-container .paginator-ah{	
	padding-top: 0px;
	padding-bottom: 0px;
	background: #1C3237;
	margin-top: 0px;
	margin-bottom: 0px; 

}

.paginator-h-eventos{
	padding: 0px;
	color: white;
	font-size: 120%;
}

.acordeon{
	padding-top: 0px;
	padding-bottom: 0px;
}

.accordion-toggle{
	color: white;
}

.accordion-toggle:hover{
	color:white;
}

.acordeon ul li{
	text-align: left;
	text-decoration: none;
}

@media (min-width: 992px) and (max-width: 1199px) {  
  .acordeon ul {		
	transform: translate(-15px, 0px);
	-webkit-transform: translate(-15px, 0px);

  }
}

.scrolling-eventos-pasados{
	max-height:485px; 
	overflow:auto; 
/* 	overflow-x:hidden; */
	padding: 1px;
}



@media (min-width: 992px) and (max-width: 1199px) {
  
  .scrolling-eventos-pasados{

	max-height:350px; 
	overflow:auto; 
/* 	overflow-x:hidden; */
}


}
/* Personalización para MODAL */

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.texto-azul{
	color:#428bca;
}

.popover{
	max-width: 650px;
	background: rgba(40,56,58,0.9);
	z-index: 1030;
}



.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: rgba(40,56,58,0.9);
  border-left-width: 0;
}

.text-color-form{
	color: #1C3237;
	/* text-shadow: 1px 1px 1px rgba(150, 150, 150, 1); */
}


.text-90{

	font-size: 90%;
}

.text-120{
	font-size: 120%;
}

.text-130{

	font-size: 130%;
}

.img-quienes-somos{

	margin-bottom: 10px;
}

.tabs-quienes-somos{
	transform: translate(0px, -40px);
	-webkit-transform: translate(0px, -40px);
}

@media (min-width: 992px) and (max-width: 1199px) {

  .tabs-quienes-somos {

  	line-height: 50%;
  }
  
  .tabs-quienes-somos a img {	
	
	max-width: 80%;
	height: auto;
	margin-bottom: 5px;

  }


  .tabs-quienes-somos a {

  	font-size: 90%;
  	line-height: 90%;  	

  }


 

}

.row-carousel{
	background: rgba(232,232,233, 0.7);

}


 .carousel-control.left{	
	background: transparent;
	
}

.carousel-control.right{	
	background: transparent;
	
}

.contacto-quienes-somos{

	background: #D30726;
}


.contacto-quienes-somos:hover{

	background: #D30726;
}

.text-100{

	font-size: 100%;
}

.fade.in.active{
	
	position: relative;
	animation: trans-position 1s;
	-webkit-animation: trans-position 1s;
	-moz-animation: trans-position 1s;

}

@keyframes trans-position{

	from {right:-100%;}
	to {right:0%;}
}

@-webkit-keyframes trans-position{

	from {right:-100%;}
	to {right:0%;}
}

/* CONTACTO */

.control-label{

	text-align: left;
	color: white;
}

.text-white{
	color: white;
}

label{
	font-weight: normal;
	color: white;
}

.form-contacto{
	margin-top: 1px;
	margin-bottom: 1px;
}

#form-contacto input, #form-contacto textarea{
	font-size: 20px;
	width: 100%;
	border-radius: 5px;
}

.jumbotron-contacto{
	background: url(../img/background-quienes-somos.jpg);
	background-attachment: fixed;
	background-size: 50%;
	color: transparent;
}

.jumbotron-contacto small{
	color: transparent;
}

/* Animación la QUINTA */

/* .marquee{	
	animation: pasar 10s;
	animation-iteration-count: infinite;
	-webkit-animation: pasar 10s;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;

}

@keyframes pasar{
	from {transform: translate(200%,0px);}
	to {transform: translate(-200%,0px);}
	
}

@-webkit-keyframes pasar{
	from {-webkit-transform: translate(100%,0px);}
	to {-webkit-transform: translate(-100%,0px);}
	
} */

/* .marquee{
	width: 300px;
	overflow: hidden;
} */

/* Lista Precios */

.row-lista-precios{
	background-color: #D30726;
	color: white;
}

/* Galeria */

.galeria-h1{
	
	position: relative;
	animation: trans-position 3s;
	-webkit-animation: trans-position 3s;
	-moz-animation: trans-position 3s;
	-webkit-animation-timing-function: ease-in;
	-moz-animation-timing-function: ease-in;
	-o-animation-timing-function: ease-in;
	animation-timing-function: ease-in;

}

@keyframes trans-position{

	from {right:-100%;}
	to {right:0%;}
}

@-webkit-keyframes trans-position{

	from {right:-100%;}
	to {right:0%;}
}

.galeria-small{
	color: #999;
	transform: translate(0px, -15px);
	-webkit-transform: translate(0px, -15px);
	position: relative;
	animation: trans-position-two 3s;
	-webkit-animation: trans-position-two 3s;
	-moz-animation: trans-position-two 3s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;

}

@keyframes trans-position-two{

	from {left:-100%;}
	to {left:0%;}
}

@-webkit-keyframes trans-position-two{

	from {left:-100%;}
	to {left:0%;}
}

.alberg-image{
	padding: 0px;
	overflow: hidden;
}

.img-vtk{
	max-width: 100%;	
}

footer{
	background:#1C3237;
	color: white;
	overflow: hidden;
}

footer h3{
	font-weight: lighter;
}

footer .cuadro-footer{
	width:150%; 
	background-color:#e74962;
	color: transparent;	 	
}


#cuadro-footer-1{
	transform:rotate(-35deg);
	-webkit-transform:rotate(-35deg);
}


#cuadro-footer-2{
	transform:rotate(35deg);
	-webkit-transform:rotate(35deg);	

}

#contenedor-cuadro-footer-1{
	transform: translate(-130px, 0px);
	-webkit-transform: translate(-130px, 0px);
}

#contenedor-cuadro-footer-2{
	transform: translate(-30px, 0px);
	-webkit-transform: translate(-30px, 0px);
}

@media (min-width: 992px) and (max-width: 1199px) {

footer .cuadro-footer{
	width:220%; 

}

#contenedor-cuadro-footer-1{
	transform: translate(-50px, 0px);
	-webkit-transform: translate(-50px, 0px);
	}
  
  #contenedor-cuadro-footer-2{
	transform: translate(-120px, 0px);
	-webkit-transform: translate(-120px, 0px);
	}
}
 
#viejoteca-map{
    width: 100%;
    height: 250px;     
    }

.xero{
	border-top: 5px solid #E20079;
	border-bottom: 1px solid #E20079;
	font-family: 'Politica';
	
}

.xero a{
	color: black;
	text-decoration: none;
	margin-bottom: 0px;	
}

.xero a img{
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transition: transform 1.5s;
	-webkit-transition: -webkit-transform 1.5s;
}

.xero a img:hover{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
}