{% extends 'navbar.html' %}
{% load staticfiles %}
{% block cabecera %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>La viejoteca de la Quinta - Quienes Somos</title>
    
	<meta name="description" content="La Viejoteca de la Quinta. Club Social y Cultural dedicado a ofrecer la mejor recopilaci&oacute;n de todos los géneros musicales en un emocionante recorrido por todas las épocas, desde la  más clásica hasta la más moderna, con el  objetivo de hacer que todos nuestros visitantes sientan intensamente la pasión por la música y el baile.">
    
     <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<!-- Bootstrap-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Custom CSS-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/animation-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/quienes-somos.css' %}">

    <!--Font Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">

    <style>
        
        body{
            visibility: visible;
        }

    </style>

  

  

  

</head>

<body> 

{% endblock %}  
    
{% block cuerpo %}

    <br>
    <br>
    <br>
    <br>   
 
<div class="row">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3 col-sm-1"></div>
                <div class="col-md-6 col-sm-10">
                    <a class="text-130" href="#service-one"  data-toggle="tab">
                        <div class="circle-text">
                            <div class="tabs-quienes-somos">
                                <img src="{% static 'img/sobre-nosotros.png' %}" alt="Sobre Nosotros" class="img-quienes-somos"><br><h1>404</h1>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-1"></div>             
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="container">
            <div class="jumbotron">
                <h2 class='text-center'>Ey Lo que buscas no está por aquí. Intenta Revisar las secciones del Sitio</h2>
            </div>
        </div>
</div>
</div>



   
        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/preload.js' %}"></script>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>  


     <script>
      $().ready(function(){
        $("button").tooltip(
          {
            html:true,
            /*placement: "top",*/
            trigger: "hover focus manual",
            /*container: "body",*/
          });

        $("button").popover({
          html:true,
        });

        $("a").popover({
          html:true,
        }).on('click', function(){
            console.log('se ha activado el popover')

            $('button.close').on('click', function(){
                  $('a').popover('hide')
              })

            $('.form-inline').on('submit', function(e){
                e.preventDefault()
                $.ajax({
                    beforeSend: function(){
                        var opts = {
                            radius:10,
                            width:10,
                            height:10,
                            lenght:10,
                        }
                        var target = $('.form-inline')
                        var spinner = new Spinner(opts).spin(target)
                    },
                    url:$(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function(resp){
                        $('.col-respuesta').html('<h3 class="text-white">'+resp+'</h3>')
                        console.log(resp)
                    },
                    error: function(jqXHR, estado, error, resp){
                        $('.col-respuesta').html('<h2 class="text-white">Se ha producido Un error. Por favor int&eacute;ntalo m&aacute;s tarde</h2>')

                    },
                    complete: function(jqXHR, estado){
                        console.log(estado)
                    },
                    timeout: 10000
                })
            })
        })

      })
</script>

<script type="text/javascript">
    window.onload = function() {
      document.onmousemove = function(e) {
        var x = (e.clientX/50);
        var y = (e.clientY/50);
        this.body.style.backgroundPosition = x + 'px ' + y + 'px';
      };
    };
  </script>
    
 <script>
//     $("a").popover({
//       html:true,
//     }).on('click', function(){
//        $('.form-inline').on('submit', function(e){
//         e.preventDefault()

//         $.ajax({
//           beforeSend: function(){
//             var opts = {
//               radius:10,
//               width:10,
//               height:10,
//               lenght:10,
//             }
//             var target = $('.help-block')
//             var spinner = new Spinner(opts).spin(target)
          

//           },
//           url: $(this).attr('action'),
//           type: $(this).attr('method'),
//           data: $(this).serialize(), 
//           success: function(resp){                             
//             $('.content-popover').html('<div class="col-md-12"><h2 style="color:white;" class="text-center">'+resp+'</h2></div>')
//             console.log(resp)
//           }, 
//           error: function(jqXHR, estado, error, resp){            
//             $('.content-popover').html('<h2 style="color:white;">Ooops. TAL PARECE QUE NUESTRO SERVIDOR SE HA IDO A DORMIR. POR FAVOR INTENTA MAS TARDE</h2>')
//             console.log(error)
//           },
//           complete: function(jqXHR, estado){
//             console.log(estado)
//           },
//           timeout: 10000    
//       })     


//       })
    
      
//       $('button.close').on('click', function(){
//           $('a').popover('hide')
//       })

//     })

// </script>

        
    </body>
</html>

{% endblock %}