<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="FZNCbzsxzTa3pw3h6xoayBssb_X-nJFEFuUAx9QGOqU"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<!-- Facebook Tags -->
	<meta property="og:description" content="LA VIEJOTECA DE LA QUINTA: Es una de las más notorias y originales discotecas del Eje Cafetero; Es la Viejoteca más visitada en la ciudad de Pereira; Para muchos, este es el sitio donde se encuentra la mejor rumba de la ciudad. El gran DJ: Julio Arcila y el reconocido animador y locutor: Alberto Holguín Cuartas -El mil amores-, le harán sentir la pasión por la música y el baile" />
    <meta property="og:title" content="La Viejoteca de la Quinta - Discoteca en Pereira" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://laviejotecadelaquinta.com/"/>
    <meta property="og:image" content="http://laviejotecadelaquinta.com/static/img/logo-viejoteca.png" />
    <meta property="og:site_name" content="La Viejoteca de la Quinta" />
    <meta property="fb:admins" content="1407408886203998" />



	
	<!-- Estilos -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.cshttp:s">
	<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}">



</head>
<body>


<!-- Custom JavaScript -->
<script>
	
</script>


	
</body>
</html>