<footer>        
    <div class="row">
        <div id="contenedor-cuadro-footer-1" class="col-lg-3 col-md-2">
            <div id="cuadro-footer-1" class="cuadro-footer hidden-sm hidden-xs">
                <h2>Yo Soy el Footer</h2>
                <p class="visible-md">YO SOY EL FOOTER</p>
                <h2 class="hidden-md">Yo Soy el Footer</h2>
            </div>                
        </div>
        <div class="col-lg-6 col-md-8">
            <h3 class="text-center">Calle 22 #14-02 Parque Olaya Herrera Pereira-RISARALDA <br> Informes y Reservas: <wbr><i class="fa fa-mobile"></i> (+57) 310 405 15 90  -  <i class="fa fa-phone"></i>  (+57) (6) 344 44 26 <br>contacto@laviejotecadelaquinta.com</h3>
        </div>
        <div id="contenedor-cuadro-footer-2" class="col-lg-3 col-md-2">
            <div id="cuadro-footer-2" class="cuadro-footer hidden-sm hidden-xs">
                <h2>Yo Soy el Footer</h2>
                <p class="visible-md">YO SOY EL FOOTER</p>
                <h2 class="hidden-md">Yo Soy el Footer</h2>
            </div>                
        </div>
    </div>        
</footer>

    

     

     
