{% extends 'navbar.html' %}
{% load staticfiles %}
{% block cabecera %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>La viejoteca de la Quinta - Quienes Somos</title>
    
	<meta name="description" content="La Viejoteca de la Quinta. Club Social y Cultural dedicado a ofrecer la mejor recopilaci&oacute;n de todos los géneros musicales en un emocionante recorrido por todas las épocas, desde la  más clásica hasta la más moderna, con el  objetivo de hacer que todos nuestros visitantes sientan intensamente la pasión por la música y el baile.">
    
     <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<!-- Bootstrap-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<!-- Custom CSS-->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/animation-nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/quienes-somos.css' %}">

    <!--Font Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">

  

  

  

</head>

<body> 

{% endblock %}  
    
{% block cuerpo %}

    <br>
    <br>
    <br>
    <br>   
 
<div class="row">
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-4 col-sm-5">
                    <a class="text-130" href="#service-one"  data-toggle="tab">
                        <div class="circle-text">
                            <div class="tabs-quienes-somos">
                                <img src="{% static 'img/sobre-nosotros.png' %}" alt="Sobre Nosotros" class="img-quienes-somos"><br>SOBRE NOSOTROS
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-md-4 col-sm-5">
                    <a class="text-130" href="#service-three"  data-toggle="tab">
                        <div class="circle-text">
                            <div class="tabs-quienes-somos">
                                <img src="{% static 'img/equipo.png' %}" alt="Equipo de Trabajo" class="img-quienes-somos">
                                <br> UN EQUIPO A SU SERVICIO
                            </div>
                        </div>
                    </a>
                </div>   
                <div class="col-md-2 col-sm-1"></div>             
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-md-12">
            <div id="myTabContent" class="tab-content"> 

                <div class="tab-pane fade in active" id="service-one">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-12"> 
                                 
                                {% comment %}
                                {% for item in contenido %}
                                {% autoescape off %}
                                {{ item.quienes_somos }}
                                {% endautoescape %}
                                {% endfor %}
                                {% endcomment %}
                                <div class="col-md-12">
                                                                <!-- <h2 class="text-center text-color-form">LA VIEJOTECA DE LA QUINTA, SIN&Oacute;NIMO DE LA mejor m&Uacute;sica Crossover de todos los tiempos</h2> -->
                                <br>                                           
                                <p class="text-color-form text-center text-120">
                                La Viejoteca de la Quinta, es un Club Social y Cultural dedicado a ofrecer la mejor recopilaci&oacute;n de todos los géneros musicales, con una rumba diseñada para llevarlo en un emocionante recorrido por todas las épocas, desde la  más clásica hasta la más moderna, con el  objetivo de hacer que todos nuestros visitantes sientan intensamente la pasión por la música y el baile.
                                </p>

                                <br>
                                <br>
                            </div>
                            </div>
                        </div>
                    </div>                                    
                </div>

                

                <div class="tab-pane fade in" id="service-three">                
                    <div class="row row-carousel">
                        <br>
                        <div class="container">
                            <div class="col-md-12">                        
                                <div id="carousel-quienes-somos" class="carousel-quienes-somos slide" data-ride="carousel">           
                                  <!-- Wrapper for slides -->
                                  
                                  <div class="carousel-inner">           
                                      {% for empleado in empleados %}
                                        <div class="item {% if forloop.first %} active {% endif %}">                                    
                                        <div class="row">
                                            <div class="container">
                                                <div class="col-md-12">
                                                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                                    <div class="col-md-3 col-sm-3 col-xs-3">
                                                        <img class="img-responsive img-circle" src="{{ empleado.foto_thumbnail.url }}" alt="Retrato">
                                                    </div>
                                                    <div class="col-md-5 col-sm-5 col-xs-5">
                                                        <h2>{{ empleado.nombres }}<br>
                                                        <small class="text-90">{{ empleado.cargo }}</small></h2>
                                                        <p>
                                                            <a href="#" role="button" class="btn btn-default ir-fotos-evento-proximo reservas contacto-quienes-somos">CONTACTAR</a></p>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2 col-xs-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      {% endfor %}
                                    </div>

                                    

                                  <!-- Controls -->
                                  <a style="color:red; opacity: 1;" class="left carousel-control" href="#carousel-quienes-somos" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                  </a>
                                  <a style="color:red; opacity: 1;" class="right carousel-control" href="#carousel-quienes-somos" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                  </a>
                                </div>
                            </div>
                        </div>

                        <br>
                       

                    </div>

        </div>
    </div>
</div>
</div>
</div>

<br>
<br>
<br>


    <footer class='nav navbar-fixed-bottom'>        
        <div class="row">
            <div id="contenedor-cuadro-footer-1" class="col-lg-3 col-md-2">
                <div id="cuadro-footer-1" class="cuadro-footer hidden-sm hidden-xs">
                    <h2>Yo Soy el Footer</h2>
                    <p class="visible-md">YO SOY EL FOOTER</p>
                    <h2 class="hidden-md">Yo Soy el Footer</h2>
                </div>                
            </div>
            <div class="col-lg-6 col-md-8">
                <h3 class="text-center">Calle 22 #14-02 Parque Olaya Herrera Pereira-RISARALDA <br>
                    CALLE 9 No. 1W - 40, LA BADEA
                    Dosquebradas<br> Informes y WHATSAPP: <wbr><i class="fa fa-mobile"></i> (+57) 310 405 15 90  -  <i class="fa fa-phone"></i>  (+57) (6) 344 44 26<br>contacto@laviejotecadelaquinta.com</h3>
            </div>
            <div id="contenedor-cuadro-footer-2" class="col-lg-3 col-md-2">
                <div id="cuadro-footer-2" class="cuadro-footer hidden-sm hidden-xs">
                    <h2>Yo Soy el Footer</h2>
                    <p class="visible-md">YO SOY EL FOOTER</p>
                    <h2 class="hidden-md">Yo Soy el Footer</h2>
                </div>                
            </div>
        </div>   
    </footer>   
        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/preload.js' %}"></script>  
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="http://fgnass.github.io/spin.js/spin.min.js"></script>  


     <script>
      $().ready(function(){
        $("button").tooltip(
          {
            html:true,
            /*placement: "top",*/
            trigger: "hover focus manual",
            /*container: "body",*/
          });

        $("button").popover({
          html:true,
        });

        $("a").popover({
          html:true,
        }).on('click', function(){
            console.log('se ha activado el popover')

            $('button.close').on('click', function(){
                  $('a').popover('hide')
              })

            $('.form-inline').on('submit', function(e){
                e.preventDefault()
                $.ajax({
                    beforeSend: function(){
                        var opts = {
                            radius:10,
                            width:10,
                            height:10,
                            lenght:10,
                        }
                        var target = $('.form-inline')
                        var spinner = new Spinner(opts).spin(target)
                    },
                    url:$(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function(resp){
                        $('.col-respuesta').html('<h3 class="text-white">'+resp+'</h3>')
                        console.log(resp)
                    },
                    error: function(jqXHR, estado, error, resp){
                        $('.col-respuesta').html('<h2 class="text-white">Se ha producido Un error. Por favor int&eacute;ntalo m&aacute;s tarde</h2>')

                    },
                    complete: function(jqXHR, estado){
                        console.log(estado)
                    },
                    timeout: 10000
                })
            })
        })

      })
</script>

<script type="text/javascript">
    window.onload = function() {
      document.onmousemove = function(e) {
        var x = (e.clientX/50);
        var y = (e.clientY/50);
        this.body.style.backgroundPosition = x + 'px ' + y + 'px';
      };
    };
  </script>
    
 <script>
//     $("a").popover({
//       html:true,
//     }).on('click', function(){
//        $('.form-inline').on('submit', function(e){
//         e.preventDefault()

//         $.ajax({
//           beforeSend: function(){
//             var opts = {
//               radius:10,
//               width:10,
//               height:10,
//               lenght:10,
//             }
//             var target = $('.help-block')
//             var spinner = new Spinner(opts).spin(target)
          

//           },
//           url: $(this).attr('action'),
//           type: $(this).attr('method'),
//           data: $(this).serialize(), 
//           success: function(resp){                             
//             $('.content-popover').html('<div class="col-md-12"><h2 style="color:white;" class="text-center">'+resp+'</h2></div>')
//             console.log(resp)
//           }, 
//           error: function(jqXHR, estado, error, resp){            
//             $('.content-popover').html('<h2 style="color:white;">Ooops. TAL PARECE QUE NUESTRO SERVIDOR SE HA IDO A DORMIR. POR FAVOR INTENTA MAS TARDE</h2>')
//             console.log(error)
//           },
//           complete: function(jqXHR, estado){
//             console.log(estado)
//           },
//           timeout: 10000    
//       })     


//       })
    
      
//       $('button.close').on('click', function(){
//           $('a').popover('hide')
//       })

//     })

// </script>


        
    </body>
</html>

{% endblock %}